@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0A0A0B;
  --foreground: #ffffff;

  --grey: #f5f5f7;
  --grey-main: #f5f1f1;
  --grey-dark: #cbcbcb;
  --grey-darker: #707070;

  --primary: #171818;
  --primary-main: #171818

  --secondary: #f5f5f7;
  --secondary-main: #f5f5f7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Ensure the body still scrolls */
body {
  overflow-y: scroll !important;
}

@layer base {}


.hidden-left {
  width: 300px;
  height: 100px;
  background: lightblue;
  mask-image: linear-gradient(to right, transparent 0%, black 50%);
  -webkit-mask-image: linear-gradient(to right, transparent 0%, black 50%);
}
